@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-800 text-slate-300 text-xl min-h-screen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  @apply min-h-full;
}
.post {
  @apply flex flex-col bg-slate-600 rounded-md 
  pl-3 pr-4 pt-3 pb-5 w-11/12 min-h-56 transition-opacity duration-200 relative;
}
.loading-container {
  @apply flex justify-center items-center h-full;
}
.posts-container {
  @apply w-10/12 m-auto gap-3;
}
.post-container {
  @apply w-2/6 mx-auto bg-slate-700 p-5 rounded-lg transition-shadow duration-200 shadow-md shadow-white my-5;
}
.comment {
  @apply rounded-lg border p-2 my-2 overflow-hidden relative z-10;
  transition: box-shadow 0.5s ease, color 0.9s linear;
}
.comment:hover {
  box-shadow: 0 0 10px 2px #bbd0ff;
  @apply text-blue-600;
}
.comment::before {
  content: "";
  @apply absolute inline-block bg-slate-200 h-full -left-20 top-0;
  width: 0;
  transition: width 1s linear;
  transform: skew(35deg);
  z-index: -1;
}
.comment:hover::before {
  width: 150%;
}
.btn {
  @apply overflow-hidden border py-1 px-5 m-2 transition-colors relative;
}
.btn::before {
  content: "";
  @apply w-1/2 absolute right-1/2 inline-block bg-red-500 h-full top-0 -z-10;
}
.btn::after {
  content: "";
  @apply w-1/2 absolute left-1/2 inline-block bg-red-500 h-full top-0 -z-10;
}

.delete-icon {
  @apply absolute right-1 z-50 cursor-pointer;
}
.input {
  @apply p-1 text-base text-black placeholder:text-gray-500 outline-none  
  border-2 border-blue-500 border-t-0 border-r-0 
           focus:border-t-2 focus:border-r-2 overflow-auto;
  transition: border 0.5s ease;
}
textarea.input {
  @apply resize-y;
  min-height: 57px;
  max-height: 340px;
}

.submit-button {
  @apply m-auto px-8 py-1.5 
  bg-transparent border rounded-lg
   text-lg relative z-10 overflow-hidden;
  transition: color 0.5s ease;
}
.submit-button::before {
  content: "";
  @apply absolute h-full -left-10 bg-green-600 top-0;
  width: 0;
  z-index: -1;
  transform: skew(35deg);
  transition: width 0.6s linear;
}

.submit-button:hover {
  @apply text-white;
}

.submit-button:hover::before {
  width: 150%;
}
.add-btn {
  @apply relative cursor-pointer;
}
.add-btn::before {
  content: "";
  @apply absolute bg-white left-2 bottom-0 w-0;
  transition: width 1s ease;
  transform-origin: right;
  height: 1px;
}
.add-btn:hover::before {
  width: 85%;
}
